// .UserArea\.module__userAreaContainer___XzI2YW {
.UserArea\.module__userAreaInnerWrapper___XzI2YW {
    position: absolute;
    bottom: 30px;
    left: 62px;
    background-color: var(--primary-theme-accent-dim-6);
    border: 1px solid var(--primary-theme-accent-dim-2);
    border-radius: var(--global-border-radius);
    margin-left: 10px;
    width: calc(var(--layout-sidebar-width) - 7px);
    padding: 0px;
    .UserArea\.module__userAreaContainer___XzI2YW {
        padding: 5px
    }
}
.Scroller\.module__scroller___ZmI2ND
.ChannelListContent\.module__channelGroupsContainer___ZDI5M2 {
    margin-bottom: 40px;
}