.ChannelChatLayout\.module__container___YjY1N2 {
    background-color: var(--primary-theme-accent-dim-6);
    .ChannelMessages\.module__scrollerInner___XzlhYW {
        margin: 0 100px;
    }
}

.Scroller\.module__scroller___ZmI2ND {
    background: linear-gradient(
        180deg,
        var(--primary-theme-accent-dim-5) 80%,
        var(--primary-theme-accent-dim-5) 95%,
        var(--primary-theme-accent-dim-6) 100%,
    );
}