/**
 * @name Fluxer Overhaul
 * @author GH0STP4WZ#0001
 * @version 1.0.0
 * @description An overhaul of the Fluxer UI
 * @source https://github.com/Nexus-Themes/FluxerOverhaul
 * @tags Styling, Overhaul, UI, Theme
 * @workswith Stable, Canary
*/
/**
 *                        ▄▄                                            ▄▄            
 *                 ▄▄▄▄▄███   ▄▄         ▄▄   ▄     ▄▄▄   ▄▄▄    ▄▄▄▄▄███ ▄▄▄▄▄▄▄▄   
 *               ▄█▓▓▀▀▀███ ▄█▓█       ▄█▓█   █▄▄  ██▓█   ████ ▄█▓▓▀▀▀███ ██▓▓▀█▓█▄▄ 
 *               █▓▒█ ▄▄ ▀▀ █▓▒█       █▓▒█   ██▄▄ ▀▓▒▄▄ ▄▓▒▀▀ █▓▒█ ▄▄ ▀▀ █▓▒█   ▓▒█ 
 *               ▓▒░▒▓██    ▓▒░█       ▓▒░█   ▒▓▓█  ▄░░▒▓▓█▌▌  ▓▒░▒▓██    ▓▒▓▒▒▒▓██  
 *               ▒░██ ▀▀    ▒░██       ▒░██   ▒▒██ ▒░█▀▀ ▀▓▒▌▌ ▒░██ ▀▀    ▒░██  ▀▓▒▄▄
 *               ░███       ░██▀▄      ░░█▀▄▄▓▒▓▌▌ ░███   ▒▒▌▌ ░██▀▄  ▄░█ ░███   ░░▌▌
 *               ▀███        ▀██████▄▀ ▀░░███░▒▀▀   ▀██   ░▒██  ▀████████ ████   █░█ 
 *                 ▀                                                  ▀██            
 *                                ▄▄                                                           
 *  ▄▄▄▄▄▄      ▄▄  ▄▄      ▄▄▄▄▄███ ▄▄▄▄▄▄▄▄     ▄▄▄   ▄▄▄    ▄▄▄▄▄▄      ▄▄   ▄      ▄▄      
 *▄█▓▓▀▀▓█▄▄  ▄█▓█  ▓█▄▄  ▄█▓▓▀▀▀███ ██▓▓▀█▓█▄▄  ██▓█   ████ ▄█▓▓▀▀▓█▄▄  ▄█▓█   █▄▄  ▄█▓█      
 *█▓▒█   ░▒▄▄ █▓▒█   ░▒▄▄ █▓▒█ ▄▄ ▀▀ █▓▒█   ▓▒█  █▓▒█   ▓▒██ █▓▒█   ▓▒▄▄ █▓▒█   ██▄▄ █▓▒█      
 *▓▒▌▌   ░░▓█ ▓▒░█   ░░▓█ ▓▒░▒▓██    ▓▒▓▒▒▒▓██   ▓▒░░▒▓▓██▓█ ▓▒░░▒▓▓██▓█ ▓▒░█   ▒▓▓█ ▓▒░█      
 *▒░██   ▓▒▓█ ▒░██   ▓▒▓█ ▒░██ ▀▀    ▒░██  ▀▓▒▄▄ ▒░██   ▓▒▓█ ▒░██   ▓▒▓█ ▒░██   ▒▒██ ▒░██      
 *░██▀▄▄▄░░█  ░██▀▄▄▀░░█  ░██▀▄  ▄░█ ░███   ░░▌▌ ░███   ▒▒▌▌ ░███  ▐▒▒█  ░░█▀▄▄▓▒▓▌▌ ░██▀▄     
 * ▀█████▄▀    ▀█████▄▀    ▀████████ ████   █░█   ▀██   ░▒█   ▀██  █░▒█  ▀░░███░▒▀▀   ▀██████▄▀
 *                               ▀██                                                           
**/
/* General font import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Code font import */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
body {
  /**
   * Fluxer Overhaul is a massive overhaul of the visual appearance of the Fluxer Client.
   * Some of its features are quite drastic, and may not be to everyone's taste.
   * For this reason, Presented below is a configurator for some of the more dramatic changes,
   * allowing you, the user, to pick and choose which features you don't and do want to use.
   * If you're an InFlux user, Chances are you will have access to a graphical configurator for these settings.
   * You may still need to manually open the Theme.css file to import a custom font, though.
  */
  /* Primary Theme Accent Color — Default: #ff0000; valid values: any valid CSS color */
  /* This color is used throughout the theme for various UI elements. */
  --primary-theme-accent: #ff0000;
  /* Global Border Radius — Default: 12px; valid values: any valid CSS length */
  /* This value is used to round the corners of various UI elements. */
  --global-border-radius: 12px;
  /* General Font — Default: "Montserrat"; valid values: any valid CSS font-family */
  /* This value is used to define the font for most of the entire application, such as messages and menu text.
  To use remote fonts from repositories such as Google Fonts, you need to import them at the top of this file. */
  --general-font: "Montserrat";
  /* Code Font — Default: "Kode Mono"; valid values: any valid CSS font-family */
  /* This value is used to define the font for code blocks and inline code. */
  --code-font: "Kode Mono";
  /* Use Message Bubbles — Default: off; valid values: on, off */
  /* Wraps messages in a bubble-like container, similar to other messaging apps like Signal or Telegram. */
  --use-bubbles: off;
  /* Replace Search Bar — Default: off; valid values: on, off */
  /* Replaces the default search bar with an icon that optimizes space. Will expand on hover or focus. */
  --replace-search-bar: off;
}

body {
  --primary-theme-accent-dim-1: color-mix(
    in srgb,
    var(--primary-theme-accent) 90%,
    black
  );
  --primary-theme-accent-dim-2: color-mix(
    in srgb,
    var(--primary-theme-accent) 75%,
    black
  );
  --primary-theme-accent-dim-3: color-mix(
    in srgb,
    var(--primary-theme-accent) 50%,
    black
  );
  --primary-theme-accent-dim-4: color-mix(
    in srgb,
    var(--primary-theme-accent) 25%,
    black
  );
  --primary-theme-accent-dim-5: color-mix(
    in srgb,
    var(--primary-theme-accent) 10%,
    black
  );
  --primary-theme-accent-dim-6: color-mix(
    in srgb,
    var(--primary-theme-accent) 5%,
    black
  );
  font-family: var(--general-font) !important;
}
body .Markup\.module__markup___XzQ5ZD pre,
body .Markup\.module__inline___XzQ5ZD,
body code {
  font-family: var(--code-font) !important;
}

.TextareaInput\.module__textareaOuterRow___XzJmNz {
  min-height: 0;
}
.TextareaInput\.module__textareaOuterRow___XzJmNz:before {
  display: none;
}

.InputWrapper\.module__statusRail___ZWM3OW {
  bottom: -30px;
}

.ChannelChatLayout\.module__textareaArea___YjY1N2 .TextareaInput\.module__mainWrapperDense___XzJmNz {
  min-height: 35px;
  margin-top: 0.8rem;
  margin-bottom: 5px;
}
.ChannelChatLayout\.module__textareaArea___YjY1N2 {
  translate: 0px -1.4rem;
  width: 98%;
  margin: 10px auto;
  border: 1px solid var(--primary-theme-accent-dim-2);
  border-radius: var(--global-border-radius);
  max-height: 40rem;
  min-height: 3.7rem;
  background-color: var(--primary-theme-accent-dim-4);
}
.ChannelChatLayout\.module__textareaArea___YjY1N2 .InputWrapper\.module__box___ZWM3OW {
  background-color: transparent !important;
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
  translate: 2px 0;
}
.ChannelChatLayout\.module__textareaArea___YjY1N2 .InputWrapper\.module__box___ZWM3OW .InputWrapper\.module__stackSection___ZWM3OW {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 35rem !important;
}
.ChannelChatLayout\.module__textareaArea___YjY1N2 .InputWrapper\.module__box___ZWM3OW .InputWrapper\.module__stackSection___ZWM3OW .Scroller\.module__scrollerChildren___ZmI2ND {
  overflow-y: scroll;
}
.ChannelChatLayout\.module__textareaArea___YjY1N2 .InputWrapper\.module__box___ZWM3OW .InputWrapper\.module__stackSection___ZWM3OW .TextareaInput\.module__mainWrapperDense___XzJmNz {
  padding: var(--textarea-horizontal-padding);
}
.ChannelChatLayout\.module__textareaArea___YjY1N2 .InputWrapper\.module__box___ZWM3OW .InputWrapper\.module__stackSection___ZWM3OW .TextareaInput\.module__flexColumn___XzJmNz {
  max-height: 35rem !important;
  background-color: var(--primary-theme-accent-dim-6);
}
.ChannelChatLayout\.module__textareaArea___YjY1N2 .InputWrapper\.module__box___ZWM3OW .InputWrapper\.module__stackSection___ZWM3OW .LexicalMessageComposer\.module__paragraph___ZjY5OG {
  max-height: 20rem !important;
  overflow-y: auto;
}

.InputWrapper\.module__composerActionStack___ZWM3OW {
  margin-top: -10px !important;
  margin-right: -4px !important;
  margin-left: 2px !important;
  background-color: var(--primary-theme-accent-dim-5);
  border: 1px solid var(--primary-theme-accent-dim-2);
  border-bottom-color: transparent;
}

.TextareaInput\.module__buttonContainerDense___XzJmNz {
  transition: all 0.2s ease-in-out;
  margin-right: 35px;
  transition-property: opacity, margin-right;
}
.TextareaInput\.module__buttonContainerDense___XzJmNz .TextareaButton\.module__button___XzgyZD:last-child {
  transition: all 0.2s ease-in-out;
  position: absolute;
  right: 0;
}
.TextareaInput\.module__buttonContainerDense___XzJmNz .TextareaButton\.module__button___XzgyZD:last-child:disabled {
  opacity: 0;
  right: -25px;
}
.TextareaInput\.module__buttonContainerDense___XzJmNz:has(.TextareaButton\.module__button___XzgyZD:last-child:disabled) {
  margin-right: -15px;
}

.ChannelChatLayout\.module__container___YjY1N2 {
  background-color: var(--primary-theme-accent-dim-6);
}
.ChannelChatLayout\.module__container___YjY1N2 .ChannelMessages\.module__scrollerInner___XzlhYW {
  margin: 0 50px;
}

.Scroller\.module__scroller___ZmI2ND {
  background: linear-gradient(180deg, var(--primary-theme-accent-dim-5) 80%, var(--primary-theme-accent-dim-5) 95%, var(--primary-theme-accent-dim-6) 100%);
}

@property --replace-search-bar {
  syntax: "off | on";
  inherits: false;
  initial-value: on;
}
.ChannelHeader\.module__headerWrapper___XzU4Mj .ChannelHeader\.module__headerContainer___XzU4Mj {
  background-color: var(--primary-theme-accent-dim-5);
}

@container body style(--replace-search-bar: on) {
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj {
    transition: all ease 0.3s !important;
    justify-content: flex-end !important;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj .MessageSearchBar\.module__anchor___Y2RiYT {
    transition: all ease 0.3s !important;
    justify-content: flex-start !important;
    background: var(--primary-theme-accent-dim-6);
    border: 1px solid var(--primary-theme-accent);
    border-radius: var(--global-border-radius);
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj .MessageSearchBar\.module__anchor___Y2RiYT .MessageSearchBar\.module__scopeButton___Y2RiYT {
    transition: all ease 0.3s !important;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj .MessageSearchBar\.module__anchor___Y2RiYT .MessageSearchBar\.module__scopeButton___Y2RiYT .MessageSearchBar\.module__scopeBadge___Y2RiYT {
    transition: all ease 0.3s !important;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj .MessageSearchBar\.module__anchor___Y2RiYT .MessageSearchBar\.module__inputContainer___Y2RiYT {
    transition: all ease 0.3s !important;
    background: none;
    border: transparent;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj .MessageSearchBar\.module__anchor___Y2RiYT .MessageSearchBar\.module__inputContainer___Y2RiYT .MessageSearchBar\.module__input___Y2RiYT {
    transition: all ease 0.3s !important;
    width: 100% !important;
    min-width: 100% !important;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj:not(:has(.MessageSearchBar\.module__anchor___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:active, .MessageSearchBar\.module__inputContainer___Y2RiYT:focus-within, .MessageSearchBar\.module__inputContainer___Y2RiYT .MessageSearchBar\.module__clearButton___Y2RiYT)) {
    width: 30px !important;
    min-width: 25px !important;
    flex: 0 0 25px !important;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj:not(:has(.MessageSearchBar\.module__anchor___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:active, .MessageSearchBar\.module__inputContainer___Y2RiYT:focus-within, .MessageSearchBar\.module__inputContainer___Y2RiYT .MessageSearchBar\.module__clearButton___Y2RiYT)) .MessageSearchBar\.module__scopeButton___Y2RiYT {
    scale: 1.3;
    translate: -2px 0;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj:not(:has(.MessageSearchBar\.module__anchor___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:active, .MessageSearchBar\.module__inputContainer___Y2RiYT:focus-within, .MessageSearchBar\.module__inputContainer___Y2RiYT .MessageSearchBar\.module__clearButton___Y2RiYT)) .MessageSearchBar\.module__scopeButton___Y2RiYT .MessageSearchBar\.module__scopeBadge___Y2RiYT {
    opacity: 0;
    pointer-events: none;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj:not(:has(.MessageSearchBar\.module__anchor___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:active, .MessageSearchBar\.module__inputContainer___Y2RiYT:focus-within, .MessageSearchBar\.module__inputContainer___Y2RiYT .MessageSearchBar\.module__clearButton___Y2RiYT)) .MessageSearchBar\.module__input___Y2RiYT {
    min-width: 0px !important;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj:not(:has(.MessageSearchBar\.module__anchor___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:active, .MessageSearchBar\.module__inputContainer___Y2RiYT:focus-within, .MessageSearchBar\.module__inputContainer___Y2RiYT .MessageSearchBar\.module__clearButton___Y2RiYT)) .MessageSearchBar\.module__anchor___Y2RiYT {
    width: 30px !important;
    min-width: 30px !important;
    flex: 0 0 30px !important;
    background: transparent;
    border: 1px solid transparent;
  }
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj:not(:has(.MessageSearchBar\.module__anchor___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:active, .MessageSearchBar\.module__inputContainer___Y2RiYT:focus-within, .MessageSearchBar\.module__inputContainer___Y2RiYT .MessageSearchBar\.module__clearButton___Y2RiYT)) .MessageSearchBar\.module__inputContainer___Y2RiYT {
    flex: 0 0 30px !important;
    width: 30px !important;
    min-width: 30px !important;
  }
}
@container body style(--replace-search-bar: off) {
  .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj .MessageSearchBar\.module__anchor___Y2RiYT .MessageSearchBar\.module__inputContainer___Y2RiYT {
    background: var(--primary-theme-accent-dim-6);
    border: 1px solid var(--primary-theme-accent);
    border-radius: var(--global-border-radius);
  }
}
.UserArea\.module__userAreaInnerWrapper___XzI2YW {
  position: absolute;
  bottom: 2rem;
  left: 4.5rem;
  background-color: var(--primary-theme-accent-dim-6);
  border: 1px solid var(--primary-theme-accent-dim-2);
  border-radius: var(--global-border-radius);
  width: calc(var(--layout-sidebar-width) - 0.5rem);
  padding: 0px;
}
.UserArea\.module__userAreaInnerWrapper___XzI2YW .UserArea\.module__userAreaContainer___XzI2YW {
  padding: 5px;
}

.Scroller\.module__scroller___ZmI2ND .ChannelListContent\.module__channelGroupsContainer___ZDI5M2 {
  margin-bottom: 4rem;
}

.ChannelIndexPage\.module__memberListDivider___XzNmOW,
.MemberListContainer\.module__memberListContainer___XzJhOT {
  transition: all ease 0.3s !important;
}

body:not(:has(.MemberListContainer\.module__memberListContainer___XzJhOT:hover)) .ChannelIndexPage\.module__memberListDivider___XzNmOW,
body:not(:has(.MemberListContainer\.module__memberListContainer___XzJhOT:hover)) .MemberListContainer\.module__memberListContainer___XzJhOT {
  margin-right: -13rem;
}

@property --use-bubbles {
  syntax: "off | on";
  inherits: false;
  initial-value: off;
}
@container body style(--use-bubbles: on) {
  [data-flx="channel.message-group.group"] .Message\.module__messageContent___YzRhZj,
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj,
  [data-flx="channel.message-group.group"] .Message\.module__messageNoText___YzRhZj .Message\.module__container___YzRhZj {
    background: var(--primary-theme-accent-dim-6);
    border: 1px solid var(--primary-theme-accent-dim-3);
    width: 100% !important;
    max-width: 100%;
    padding: 5px;
    border-radius: 0px 12px 12px 12px;
  }
  [data-flx="channel.message-group.group"] .Message\.module__message___YzRhZj {
    grid-template-areas: "gutter-left avatar gutter-right reply" ". . . content" ". . . container";
    padding-right: 0 !important;
  }
  [data-flx="channel.message-group.group"] [data-flx*="channel.message-group.rendered-messages.div"] {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
  }
  [data-flx="channel.message-group.group"] [data-flx*="channel.message-group.rendered-messages.div"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj {
    width: -moz-fit-content !important;
    width: fit-content !important;
    max-width: 100%;
  }
  [data-flx="channel.message-group.group"] [data-flx*="channel.message-group.rendered-messages.div"]:not([data-is-group-start=true]):has(.AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj, .Attachment\.module__attachmentWrapper___YTIxYT) .Message\.module__messageContent___YzRhZj {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  [data-flx="channel.message-group.group"] [data-flx*="channel.message-group.rendered-messages.div"]:is([data-is-group-start=true]):not(:has([data-flx-reply=true])) .Message\.module__messageContent___YzRhZj {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  [data-flx="channel.message-group.group"] .Message\.module__messageNoText___YzRhZj .Message\.module__container___YzRhZj {
    margin-top: -2rem;
  }
  [data-flx="channel.message-group.group"] .Message\.module__messageNoText___YzRhZj .Message\.module__container___YzRhZj .Message\.module__messageAuthorInfo___YzRhZj {
    margin-right: auto !important;
  }
  [data-flx="channel.message-group.group"] .Message\.module__messageNoText___YzRhZj .Message\.module__container___YzRhZj .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj {
    background: none;
    border: none;
  }
  [data-flx="channel.message-group.group"] .Message\.module__messageNoText___YzRhZj:has(.Message\.module__repliedMessage___YzRhZj) .Message\.module__messageAuthorInfo___YzRhZj {
    margin-bottom: 2.5rem;
  }
  [data-flx="channel.message-group.group"] .Message\.module__messageNoText___YzRhZj:has(.Message\.module__repliedMessage___YzRhZj) .Message\.module__repliedMessage___YzRhZj {
    z-index: 1;
  }
  [data-flx="channel.message-group.group"] .Message\.module__message___YzRhZj:has(.Message\.module__container___YzRhZj .MessageReactions\.module__reactionsGrid___XzhhMD) {
    padding-bottom: 2.7rem;
  }
  [data-flx="channel.message-group.group"] .Message\.module__message___YzRhZj:has(.Message\.module__container___YzRhZj .MessageReactions\.module__reactionsGrid___XzhhMD) .MessageReactions\.module__reactionsGrid___XzhhMD {
    position: absolute;
    bottom: 0.3rem;
  }
  [data-flx="channel.message-group.group"] :not([data-is-group-start=true]) .Message\.module__messageNoText___YzRhZj .Message\.module__container___YzRhZj {
    margin-top: 0 !important;
  }
  [data-flx="channel.message-group.group"] :not([data-is-group-start=true]) div .Message\.module__messageContent___YzRhZj {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__twoImageGrid___XzliZD {
    grid-template-columns: repeat(2, 15rem) !important;
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__threeImageGrid___XzliZD {
    grid-template-rows: auto auto;
    grid-template-columns: 15rem 7.5rem;
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__fourImageGrid___XzliZD {
    grid-template-rows: auto auto;
    grid-template-columns: 11.5rem 11.5rem;
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__fiveImageGrid___XzliZD {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 3.7rem);
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__sixImageGrid___XzliZD {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 7.5rem);
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__sevenImageContainer___XzliZD .AttachmentLayoutGrid\.module__sevenGrid___XzliZD {
    grid-template-rows: repeat(2, 7.5rem);
    grid-template-columns: repeat(3, 7.5rem);
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__eightImageContainer___XzliZD .AttachmentLayoutGrid\.module__eightBottomGrid___XzliZD {
    grid-template-rows: repeat(2, 7.5rem);
    grid-template-columns: repeat(3, 7.5rem);
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__nineImageGrid___XzliZD {
    grid-template-rows: repeat(3, 7.5rem);
    grid-template-columns: repeat(3, 7.5rem);
  }
  [data-flx="channel.message-group.group"] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj .AttachmentLayoutGrid\.module__tenImageContainer___XzliZD .AttachmentLayoutGrid\.module__tenGrid___XzliZD {
    grid-template-rows: repeat(3, 7.5rem);
    grid-template-columns: repeat(3, 7.5rem);
  }
  [data-flx="channel.message-group.group"]:has(.Message\.module__repliedMessage___YzRhZj) .Message\.module__messageAuthorInfo___YzRhZj {
    margin-bottom: 40px;
  }
  [data-flx="channel.message-group.group"] [data-is-group-start=true] .Message\.module__messageContent___YzRhZj {
    margin-top: -2rem;
  }
  [data-flx="channel.message-group.group"] [data-is-group-start=true] .Message\.module__messageAvatar___YzRhZj {
    translate: 0 -25px;
  }
  [data-flx="channel.message-group.group"] .Message\.module__repliedMessage___YzRhZj {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
    justify-self: left;
    top: 2.5rem;
    left: 5px;
    display: grid;
    height: 2.3rem !important;
    padding: 5px;
    border-left: 1px solid var(--message-mention-color);
    border-radius: 0 var(--global-border-radius) var(--global-border-radius) 0;
    margin-right: 15px;
    background: var(--primary-theme-accent-dim-4);
  }
  [data-flx="channel.message-group.group"] .Message\.module__repliedMessage___YzRhZj::before {
    display: none;
  }
  [data-flx="channel.message-group.group"] .Message\.module__repliedMessage___YzRhZj .Message\.module__repliedTextPreview___YzRhZj {
    grid-area: 2/1/3/3;
    flex: none;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100% !important;
  }
  [data-flx="channel.message-group.group"] .Message\.module__repliedMessage___YzRhZj .Message\.module__repliedUsername___YzRhZj {
    grid-area: 1/2/2/4;
    max-width: 100%;
    width: -moz-fit-content;
    width: fit-content;
  }
  [data-flx="channel.message-group.group"] .Message\.module__repliedMessage___YzRhZj .Message\.module__repliedAvatar___YzRhZj {
    grid-area: 1/1/2/2;
    max-width: 100%;
    width: -moz-fit-content;
    width: fit-content;
  }
  [data-flx="channel.message-group.group"] [data-flx*="channel.message-group.rendered-messages.div"]:has([data-flx-author-self=true]) {
    margin-left: auto !important;
    padding-right: 0 !important;
  }
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] {
    direction: rtl;
  }
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .Message\.module__messageContent___YzRhZj,
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj,
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .Message\.module__container___YzRhZj {
    border-radius: 12px 0px 12px 12px !important;
  }
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .Message\.module__messageContent___YzRhZj,
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .Message\.module__repliedMessage___YzRhZj,
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .TextualAttachmentPreview\.module__textualPreview___YjI0OG,
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .MessageAttachments\.module__forwardedContainer___XzZiOT {
    direction: ltr !important;
  }
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .MessageActionBar\.module__actionBarContainer___YTE3ZT {
    direction: ltr !important;
    rotate: 180deg;
    right: unset !important;
    left: 0 !important;
  }
  [data-flx="channel.message-group.group"] [data-flx-author-self=true] .MessageActionBar\.module__actionBarContainer___YTE3ZT .MessageActionBar\.module__actionBar___YTE3ZT {
    rotate: 180deg;
  }
}
.Message\.module__messageTimestampHover___YzRhZj.Message\.module__messageTimestampHover___YzRhZj {
  position: absolute;
  left: 15px;
  top: 15px;
}

[data-flx-author-self=true] .Message\.module__messageTimestampHover___YzRhZj.Message\.module__messageTimestampHover___YzRhZj {
  position: absolute;
  right: 15px;
  top: 15px;
  direction: ltr !important;
}

.GuildLayout\.module__guildMainContent___XzY3N2,
.ChannelLayout\.module__channelLayoutContainer___ZDU4Mz,
.ChannelIndexPage\.module__channelGrid___XzNmOW {
  background-color: var(--primary-theme-accent-dim-6);
}

body {
  container-name: body;
}
