.ChannelChatLayout\.module__textareaArea___YjY1N2 {
    translate: 0px -20px;
    width: 98%;
    margin: 10px auto;
    border: 1px solid var(--primary-theme-accent-dim-2);
    border-radius: var(--global-border-radius);
    .InputWrapper\.module__box___ZWM3OW {
        background-color: var(--primary-theme-accent-dim-5);
    }
}