.TextareaInput\.module__textareaOuterRow___XzJmNz {
    min-height: 0;
    &:before {
        display: none;
    }
}

.InputWrapper\.module__statusRail___ZWM3OW {
    bottom: -30px;
}


.ChannelChatLayout\.module__textareaArea___YjY1N2 {
    .TextareaInput\.module__mainWrapperDense___XzJmNz {
        min-height: 35px;
        margin-top: 5px;
        margin-bottom: 5px;
    }    
    translate: 0px -20px;
    width: 98%;
    margin: 10px auto;
    border: 1px solid var(--primary-theme-accent-dim-2);
    border-radius: var(--global-border-radius);
    max-height: 600px;
    .InputWrapper\.module__box___ZWM3OW {
        background-color: transparent!important;
        .Scroller\.module__scroller___ZmI2ND  {
            background-color: var(--primary-theme-accent-dim-4);
        }
        background-color: var(--primary-theme-accent-dim-6);
        padding: 0;
        margin-left: -5px;
        margin-right: -5px;
        translate: 2px 0;
        .InputWrapper\.module__stackSection___ZWM3OW {
            padding-left: 10px;
            padding-right: 10px;
            max-height: 500px!important;
            .TextareaInput\.module__mainWrapperDense___XzJmNz{
                padding:  var(--textarea-horizontal-padding);
            }
            .TextareaInput\.module__flexColumn___XzJmNz {
                max-height: 500px!important;
                background-color: var(--primary-theme-accent-dim-6);
            }
            .LexicalMessageComposer\.module__paragraph___ZjY5OG {
                max-height: 450px!important;
                overflow-y: auto;
            }
        }
    }
}


// Reply stuff
.InputWrapper\.module__composerActionStack___ZWM3OW {
    margin-top: -10px!important;
    margin-right: -4px!important;
    margin-left: 2px!important;
    background-color: var(--primary-theme-accent-dim-5);
    border: 1px solid var(--primary-theme-accent-dim-2);
    border-bottom-color: transparent;
}




// Discord Mana style Send Button behavior
// .TextareaInput\.module__buttonContainerDense___XzJmNz {
//     transition: all 0.2s ease-in-out;
//     transition-property: opacity, margin-right;
//     .TextareaButton\.module__button___XzgyZD {
//         transition: all 0.1s ease-in-out;
//         transition-property: opacity, margin-right;
//         &:disabled {
//             opacity: 0;
//             // margin-right: -55px;
//             max-width: 0!important;
//             width: 0!important;
//         }
//     }
//     &:has(.TextareaButton\.module__button___XzgyZD:last-child:disabled) {
//         margin-right: -55px;

//     }
// }



.TextareaInput\.module__buttonContainerDense___XzJmNz {
    transition: all 0.2s ease-in-out;
    margin-right: 35px;
    transition-property: opacity, margin-right;
    .TextareaButton\.module__button___XzgyZD:last-child {
        transition: all 0.2s ease-in-out;
        position: absolute;
        right: 0;
        &:disabled {
            opacity: 0;
            right: -25px;
        }
    }
    &:has(.TextareaButton\.module__button___XzgyZD:last-child:disabled) {
        margin-right: -15px;
    }
}