@property --compact-members-list {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

@container body style(--compact-members-list: on) {
    .ChannelIndexPage\.module__memberListDivider___XzNmOW,
    .MemberListContainer\.module__memberListContainer___XzJhOT {
        transition: all ease 0.3s!important;
    }
    body:not(:has(.MemberListContainer\.module__memberListContainer___XzJhOT:hover)) {
        .ChannelIndexPage\.module__memberListDivider___XzNmOW,
        .MemberListContainer\.module__memberListContainer___XzJhOT {
            margin-right: -13rem;
        }
    }
}
