@property --replace-search-bar {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}


.ChannelHeader\.module__headerWrapper___XzU4Mj {
    .ChannelHeader\.module__headerContainer___XzU4Mj {
        background-color: var(--primary-theme-accent-dim-5);
    }
}

@container body style(--replace-search-bar: on) {
    .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj {
        transition: all ease 0.3s!important;
        justify-content: flex-end!important;
        .MessageSearchBar\.module__anchor___Y2RiYT {
            transition: all ease 0.3s!important;
            justify-content: flex-start!important;
            background: var(--primary-theme-accent-dim-6);
            border: 1px solid var(--primary-theme-accent);
            border-radius: var(--global-border-radius);
            .MessageSearchBar\.module__scopeButton___Y2RiYT {
                transition: all ease 0.3s!important;
                .MessageSearchBar\.module__scopeBadge___Y2RiYT {
                    transition: all ease 0.3s!important;
                }
            }
            .MessageSearchBar\.module__inputContainer___Y2RiYT {
                transition: all ease 0.3s!important;
                background: none;
                border: transparent;
                .MessageSearchBar\.module__input___Y2RiYT {
                    transition: all ease 0.3s!important;
                    width: 100%!important;
                    min-width: 100%!important;
                }
            }
        }
        &:not(:has(.MessageSearchBar\.module__anchor___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:hover, .MessageSearchBar\.module__inputContainer___Y2RiYT:active, .MessageSearchBar\.module__inputContainer___Y2RiYT:focus-within, .MessageSearchBar\.module__inputContainer___Y2RiYT .MessageSearchBar\.module__clearButton___Y2RiYT)) {
            width: 30px!important;
            min-width: 25px!important;
            flex: 0 0 25px!important;
            .MessageSearchBar\.module__scopeButton___Y2RiYT {
                scale: 1.3;
                translate: -2px 0;
                .MessageSearchBar\.module__scopeBadge___Y2RiYT {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            .MessageSearchBar\.module__input___Y2RiYT {
                min-width: 0px!important;
            }
            .MessageSearchBar\.module__anchor___Y2RiYT {
                width: 30px!important;
                min-width: 30px!important;
                flex: 0 0 30px!important;
                background: transparent;
                border: 1px solid transparent;
            }
            .MessageSearchBar\.module__inputContainer___Y2RiYT {
                flex: 0 0 30px!important;
                width: 30px!important;
                min-width: 30px!important;
            }
        }
    }
}

@container body style(--replace-search-bar: off) {
    .ChannelHeader\.module__messageSearchFocusWrapper___XzU4Mj {
        .MessageSearchBar\.module__anchor___Y2RiYT {
            .MessageSearchBar\.module__inputContainer___Y2RiYT {
                background: var(--primary-theme-accent-dim-6);
                border: 1px solid var(--primary-theme-accent);
                border-radius: var(--global-border-radius);
            }
        }
    }
}