// Optional Message Bubbles Feature
@property --use-bubbles {
    syntax: 'off | on';
    inherits: false;
    initial-value: off;
}

@container body style(--use-bubbles: on) {
    [data-flx="channel.message-group.group"] {
        .Message\.module__messageContent___YzRhZj,
        .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj {
            background: var(--primary-theme-accent-dim-6);
            border: 1px solid var(--primary-theme-accent-dim-3);
            width: 100%!important;
            max-width: 100%;
            padding: 5px;
            margin: 5px 0;
            border-radius: 0px 12px 12px 12px;
        }
        .Message\.module__message___YzRhZj {
            // grid-template-areas:
            // 'gutter-left avatar avatar gutter-right content'
            // '. . . reply'
            // '. . . container';
            grid-template-areas:
                'gutter-left avatar gutter-right reply'
                '. . . content'
                '. . . container'
            ;
        }
        [data-flx*="channel.message-group.rendered-messages.div"] {
            // background: red;
            width: fit-content;
            max-width: 100%;
        }
        &:has(.Message\.module__repliedMessage___YzRhZj) {
            .Message\.module__messageAuthorInfo___YzRhZj {
                margin-bottom: 25px;
            }
        }
        .Message\.module__repliedMessage___YzRhZj {
            // min-width: fit-content;
            width: fit-content;
            max-width: 100%;
            justify-self: left;
            top: 75px;
            left: 5px;
            display:grid;
            flex-direction: row;
            height: 25px!important;
            background: var(--primary-theme-accent-dim-4);
            &::before{
                display: none;
            }
            .Message\.module__repliedTextPreview___YzRhZj {
                // display: block;
                grid-area: 2/1/3/3;
                // background: blue;
                flex: none;
                width: fit-content;
                // max-width: 100%!important;
            }
            .Message\.module__repliedUsername___YzRhZj {
                // background: green;
                grid-area: 1/2/2/4;
                max-width: 100%;
                width: fit-content;
            }
            .Message\.module__repliedAvatar___YzRhZj {
                // background: yellow;
                grid-area: 1/1/2/2;
                max-width: 100%;
                width: fit-content;
            }
        }
        [data-flx*="channel.message-group.rendered-messages.div"]:has([data-flx-author-self="true"]) {
            margin-left: auto!important;
        }
        [data-flx-author-self="true"] {
            direction: rtl;
            .Message\.module__messageContent___YzRhZj,
            .AttachmentMosaic\.module__mosaicContainerWrapper___Xzk3Yj {
                border-radius: 12px 0px 12px 12px;
            }
            .Message\.module__messageContent___YzRhZj,
            .Message\.module__repliedMessage___YzRhZj,
            .TextualAttachmentPreview\.module__textualPreview___YjI0OG{
                direction: ltr!important;
            }
        }
    }
}